<body>
  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
      <div class="custom-menu"></div>
      <div class="p-4">
        <h1>
          <a href="/home" class="logo">Kaveri <span>Kaveri Traders</span></a>
        </h1>
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="/home"><span class="fa fa-home mr-3"></span> Home</a>
          </li>
          <li>
            <a href="billing"
              ><span class="fa fa-shopping-cart mr-3"></span> Billing</a
            >
          </li>
          <li>
            <a href="/storage"
              ><span class="fa fa-archive mr-3"></span> Storage</a
            >
          </li>
          <li>
            <a href="/addquantity"
              ><span class="fa fa-plus mr-3"></span> Add Quantity</a
            >
          </li>
          <li>
            <a href="/addproduct"
              ><span class="fa fa-cart-plus mr-3"></span> Add Products</a
            >
          </li>
          <li>
            <a href="history"
              ><span class="fa fa-history mr-3"></span> Customer History</a
            >
          </li>
          <li>
            <a href="/addprice"
              ><span class="fa fa-plus-circle mr-3"></span> Add Price</a
            >
          </li>
          <li>
            <a href="/price"
              ><span class="fa fa-credit-card mr-3"></span>Today Price</a
            >
          </li>
          <li>
            <a href="/searchprice"
              ><span class="fa fa-search mr-3"></span> Search Price</a
            >
          </li>
          <li>
            <a href="/"><span class="fa fa-print mr-3"></span>NB</a>
          </li>
          <li>
            <a href="/" (click)="logout()"
              ><span class="fa fa-sign-out mr-3"></span> Logout</a
            >
          </li>
        </ul>
        <div class="footer">
          <p>
            Copyright &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            All rights reserved
            <i class="icon-heart" aria-hidden="true"></i> by Baaji & Snehaa
          </p>
        </div>
      </div>
    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5">
      <h2>Today's Price</h2>

      <div class="tableFixHead">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Id</th>
              <th>Date</th>
              <th>Product Name</th>
              <th>Brand Name</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let price of priceData">
              <td>{{ price.id }}</td>
              <td>{{ price.date }}</td>
              <td>{{ price.productname }}</td>
              <td>{{ price.brandname }}</td>
              <td>{{ price.price }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    </div>
  </div>
</body>
